## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [10]:
mi_lista1=['Belgica', 'MIlan', 'New York', 'Buenos Aires', 'Cartagena']

In [11]:
print(mi_lista1)

['Belgica', 'MIlan', 'New York', 'Buenos Aires', 'Cartagena']

2) Imprimir por pantalla el segundo elemento de la lista

In [12]:
segundo_elemento=mi_lista1[1]
print(segundo_elemento)

MIlan

3) Imprimir por pantalla del segundo al cuarto elemento

In [13]:
print(mi_lista1[1:4])

['MIlan', 'New York', 'Buenos Aires']

4) Visualizar el tipo de dato de la lista

In [14]:
type(mi_lista1)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [15]:
print(mi_lista1[2:])

['New York', 'Buenos Aires', 'Cartagena']

6) Visualizar los primeros 4 elementos de la lista

In [16]:
print(mi_lista1[:4])

['Belgica', 'MIlan', 'New York', 'Buenos Aires']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [17]:
mi_lista1.append('Pehuajo')

In [18]:
mi_lista1.append('Buenos Aires')

8) Agregar otra ciudad, pero en la cuarta posición

In [27]:
mi_lista1.insert(4, 'Egipto')

In [28]:
print(mi_lista1)

['Belgica', 'MIlan', 'New York', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't']

9) Concatenar otra lista a la ya creada

In [32]:
mi_lista1.extend(['Barcelona', 'Las Vegas', 'Tijuana'])
print(mi_lista1)

['Belgica', 'MIlan', 'New York', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't', 'Barcelona', 'Las Vegas', 'Tijuana']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [33]:
print(mi_lista1.index('Buenos Aires'))

3

11) ¿Qué pasa si se busca un elemento que no existe?

In [34]:
print(mi_lista1.index('Romang'))
#Nos genera un error dandonos a conocer que la ciudad indicada en la busqueda no existe.

ValueError: 'Romang' is not in list

12) Eliminar un elemento de la lista

In [36]:
mi_lista1.remove('New York')

In [37]:
print(mi_lista1)

['Belgica', 'MIlan', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't', 'Barcelona', 'Las Vegas', 'Tijuana']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [38]:
mi_lista1.remove('Berlin')

ValueError: list.remove(x): x not in list

In [ ]:
#Nos arroja un error de valor dandonos a conocer que el elemento a eliminar ya no esta en la lista o no existe.

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [40]:
last=mi_lista1.pop()
print(last)

Tijuana

15) Mostrar la lista multiplicada por 4

In [41]:
print(mi_lista1*4)

['Belgica', 'MIlan', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't', 'Barcelona', 'Las Vegas', 'Belgica', 'MIlan', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't', 'Barcelona', 'Las Vegas', 'Belgica', 'MIlan', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't', 'Barcelona', 'Las Vegas', 'Belgica', 'MIlan', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't', 'Barcelona', 'Las Vegas']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [43]:
tupla= (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(tupla))
print(tupla)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [44]:
print(tupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [45]:
print(20 in tupla)
print(30 in tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [46]:
verificar = 'París'
if (not(verificar in mi_lista1)):
    mi_lista1.append(verificar)
    print('Insertamos el elemento', verificar)
else:
    print('El elemento', verificar, 'ya forma parte de la lista')

Insertamos el elemento París

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [48]:
print(mi_lista1.count('Pehuajo'))
print(tupla.count(5))

1
1

21) Convertir la tupla en una lista

In [50]:
lista_convertida=  list(tupla)
print(lista_convertida)
print(type(lista_convertida))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [51]:
s1, s2, s3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = tupla
print(s1)
print(s2)
print(s3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [58]:
diccio1 = {  'Ciudad': mi_lista1, 
'País': ['Belgica', 'MIlan', 'New York', 'Buenos Aires', 'Cartagena'], 
'Continente' : ['Europa','Europa','América','América','América']}

In [59]:
print(diccio1)

{'Ciudad': ['Belgica', 'MIlan', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't', 'Barcelona', 'Las Vegas', 'París'], 'País': ['Belgica', 'MIlan', 'New York', 'Buenos Aires', 'Cartagena'], 'Continente': ['Europa', 'Europa', 'América', 'América', 'América']}

24) Imprimir las claves del diccionario

In [60]:
print(diccio1.keys())

dict_keys(['Ciudad', 'País', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [61]:
print(diccio1['Ciudad'])

['Belgica', 'MIlan', 'Buenos Aires', 'Egipto', 'Cartagena', 'Pehuajo', 'Buenos Aires', 't', 'Barcelona', 'Las Vegas', 'París']